.RoomCol {
    width: 100%;
    height: inherit;
    position: relative;
    @include flex();

    p {
        width: 100%;
    }

    i {
        cursor: pointer;
        position: absolute;
        right: 0;
    }
}

.title {
    font-size: 1.8vw;
    font-weight: $bold;
    color: $primary;
    font-family: $font01;
    margin-bottom: 3vh;
    text-transform: capitalize;
}

.Chat {
    width: 100%;
    height: 73vh;
    position: relative;
    font-family: sans-serif;
}

.exit {
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-size: 2.5vw;
}

.message-list {
    overflow: scroll;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 10px 30px;
}

.message-list::-webkit-scrollbar {
    display: none;
}

.message-input {
    width: 100%;
    height: 8vh;
    background-color: #242526;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

.message-input input {
    background-color: #3e4042;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    letter-spacing: 0.9px;
    font-size: 15px;
    padding: 6px 18px;
    border: none;
    &:focus {
        border: none;
        outline: none;
    }
}

.message-input button {
    outline: 0;
    border: 0;
    width: 50px;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    background-color: #3364a3;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: #fff;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        svg {
            fill: #3364a3;
            transition: all 0.1s ease-in-out;
        }
    }

    svg {
        width: 25px;
        height: 25px;
        fill: #fff;
        transition: all 0.1s ease-in-out;
    }
}

.message-container p {
    color: white
}

.message-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // padding: 20px 0;
}

.message-container.me {
    position: relative;
    justify-content: flex-end;
}


.message {
    max-width: 980px;
    background-color: #3e4042;
    padding: 15px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
    .sender {
       text-align: left;
       font-weight: bold;
    }
  }
  .message.me {
    background-color: #3364a3;
    .sender {
        text-align: right;
    }
  }
  
  .message p {
    width: 100%;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 15px;
  }
  
  .message .timestamp {
    font-size: 12px;
    width: 100%;
    text-align: right;
    color: white;
  }
  
  .message p {
    color: white;
  }


.message-container img {
    width: 4vw;
    height: auto;
    position: absolute;
    top: -4vh;
    left: 0vw;
    z-index: 10;
}

.message-container.me img {
    width: 4vw;
    height: auto;
    position: absolute;
    top: -4vh;
    z-index: 10;
    left: unset;
    right: 0 !important;
}

.message-container p {
    padding: 0 5%;
}


.message-container div {
    font-size: 0.8rem;
}