@mixin flex($justify: center, $direction: row, $align: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin shadow() {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin grid() {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}