/* COLORS */

$background_blue: #0d1b2d;
$primary: #3364a3;
$white: #fff;
$black: #2f2f2f;
$gray: #EBEFF6;
$orange: #E44C21;

$red: #ff6361;
$yellow: #d2d462;
$green: #6f975c;


$font01: 'Open Sans', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$accent: 550;
$bold: 700;


$tertiary: #d40083;
$secondary: #00d4c2;

$background: #fff;
